python-dotenv
pydantic
inflect

# Scraping
requests
bs4
lxml

# Scheduler
apscheduler
sqlalchemy

# DAO
supabase

# Arxiv Collector
feedparser

# Zotero Collector
pyzotero

# Telegram Publisher
python-telegram-bot[ext]

# OpenAI Service
openai